@media (min-width: 1200px) {
  .custom_div{
    width: calc(100vw - 320px);

  }
  .line{
    border: 1px solid black;
    border-collapse: collapse;
    overflow: unset!important;
    max-width: 330px;
    }
    progress {
      width: 275px;
      height: 16px;
      display: block;
      /* disable defaults */
      -webkit-appearance: none;
      border: none;
      }
      /*Styling the background of the progress bar */
      progress::-webkit-progress-bar {
      background: white;
      border-radius: 45px;
      padding: 2px;
      box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
      }
      /* Setting the appearance of the meter */
      progress::-webkit-progress-value {
      border-radius: 25px;
      box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4); 
      background-size: 250px 25px;
      background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
      transparent 75%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 75%,
      transparent 75%, transparent); 
      }
}
