
.container-fluid{
  /*background-color: #161E2B;*/
  width:100%;
}
button.navbar-btn{
  float: right;
  margin-top: 10px;
}
.navbar-inverse{
  margin: 0;
}
.custom_btn {
  background: url('../../../assets/images/proflie.png') no-repeat left;
  background-size: contain;
  text-align: right;
}
.btn_text {
  padding-left: 20px;
}
