div.container-fluid{
  background-color: white!important;
}

button:not(.custom_btn){
  width: 80px;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}
.menu-inline img {
  float: right!important;
}

